/*
@font-face {
  font-family: textbook-new;
  src: url("https://db.onlinewebfonts.com/t/cd1ddaa0afa7976b5b30932231363255.eot"); !* IE9*!
  src: url("https://db.onlinewebfonts.com/t/cd1ddaa0afa7976b5b30932231363255.eot?#iefix") format("embedded-opentype"), !* IE6-IE8 *! url("https://db.onlinewebfonts.com/t/cd1ddaa0afa7976b5b30932231363255.woff2") format("woff2"), !* chrome firefox *! url("https://db.onlinewebfonts.com/t/cd1ddaa0afa7976b5b30932231363255.woff") format("woff"), !* chrome firefox *! url("https://db.onlinewebfonts.com/t/cd1ddaa0afa7976b5b30932231363255.ttf") format("truetype"), !* chrome firefox opera Safari, Android, iOS 4.2+*! url("https://db.onlinewebfonts.com/t/cd1ddaa0afa7976b5b30932231363255.svg#Textbook New") format("svg"); !* iOS 4.1- *!
}
*/

@font-face {
  font-family: "Textbook New";
  src: url("//db.onlinewebfonts.com/t/29738c707b95c693d5e68d0c7fcd516b.eot");
  src: url("//db.onlinewebfonts.com/t/29738c707b95c693d5e68d0c7fcd516b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/29738c707b95c693d5e68d0c7fcd516b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/29738c707b95c693d5e68d0c7fcd516b.woff") format("woff"), url("//db.onlinewebfonts.com/t/29738c707b95c693d5e68d0c7fcd516b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/29738c707b95c693d5e68d0c7fcd516b.svg#Textbook New") format("svg");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Textbook New", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: black;
}

* {
  box-sizing: border-box;
}

.secondary {
  opacity: 0.7;
  font-size: 0.8em;
}

.small {
  font-size: 0.8em;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.light {
  opacity: 0.7;
}

.flex_center {
  display: flex;
  align-items: center;
}

.margin_right {
  margin-right: 1em;
}

/*
.justify_center {
  justify-content: center;
}
*/

.justify_space_evenly {
  justify-content: space-evenly;
}
