.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /*width: 100%;*/
  /*margin-bottom: 1rem;*/
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.city {
  font-weight: 500;
}

.date {
  font-size: 80%;
  opacity: 0.7;
}

.logo {
  width: 4em;
}
